@charset "UTF-8";

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/*========================Обнуление========================*/

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*=========================================================*/

html,
body {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 130%;
  color: #4D5154;
  font-weight: 400;
  scrollbar-width: 4px;
  scrollbar-color: #FFC800 #fff;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: 0 0;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #FFC800;
  border-radius: 20px;
  border: 1px solid transparent;
}

body.lock {
  overflow: hidden;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

svg {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.hero-parallax {
  padding: 32px 0;
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-parallax__title {
  font-size: 164px;
  line-height: 120%;
  color: #fff;
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 54%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.scene__layer {
  width: 100%;
  height: 100%;
  -webkit-transform-style: unset !important;
          transform-style: unset !important;
}

.scene__layer--left-fog {
  z-index: 3;
}

.scene__layer div {
  -webkit-transition: all 0.5 cubic-bezier(0.2, 0.49, 0.32, 0.99) 0s;
  -o-transition: all 0.5 cubic-bezier(0.2, 0.49, 0.32, 0.99) 0s;
  transition: all 0.5 cubic-bezier(0.2, 0.49, 0.32, 0.99) 0s;
}

.scene__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.scene__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.scene__right-buildings {
  position: absolute;
  bottom: -10%;
  left: 78.8%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30.065%;
  aspect-ratio: 539/824;
}

.scene__right-buildings img {
  width: 100%;
}

.scene__evolution {
  position: absolute;
  bottom: -11.2%;
  left: 87.9%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 10%;
  aspect-ratio: 18/55;
}

.scene__evolution img {
  width: 100%;
}

.scene__2000 {
  position: absolute;
  bottom: -10%;
  left: 66.6%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 7.6%;
  aspect-ratio: 121/314;
}

.scene__2000 img {
  width: 100%;
}

.scene__fog-under-right {
  position: absolute;
  bottom: -10%;
  left: 95%;
  width: 43.5%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.scene__fog-under-left {
  position: absolute;
  bottom: -10%;
  left: 5%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.scene__fog-between-left-center {
  position: absolute;
  bottom: -10%;
  left: 43.5%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.scene__oko {
  position: absolute;
  bottom: -11%;
  left: 9.1%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  width: 10.42%;
  aspect-ratio: 43/205;
}

.scene__oko img {
  width: 100%;
}

.scene__iq-big {
  position: absolute;
  bottom: -10.3%;
  left: 19.4%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 35.561%;
  aspect-ratio: 581/536;
}

.scene__iq-big img {
  width: 100%;
}

.scene__eurasia {
  position: absolute;
  bottom: -10.2%;
  left: 25.5%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 15.334%;
  aspect-ratio: 16/47;
}

.scene__eurasia img {
  width: 100%;
}

.scene__iq-small {
  position: absolute;
  bottom: -3.9%;
  left: 16.8%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 18.7%;
  aspect-ratio: 286/293;
}

.scene__iq-small img {
  width: 100%;
}

.scene__fog-on-left {
  position: absolute;
  bottom: -10%;
  left: 93.4%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.scene__center-back-building {
  position: absolute;
  bottom: -10%;
  left: 50.3%;
  -webkit-transform: translateX(-49%);
      -ms-transform: translateX(-49%);
          transform: translateX(-49%);
  width: 30.45%;
  aspect-ratio: 273/475;
}

.scene__center-back-building img {
  width: 100%;
  height: 100%;
}

.scene__center-front-building {
  position: absolute;
  bottom: -9.6%;
  left: 51.3%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  width: 24.7%;
  aspect-ratio: 436/517;
}

.scene__center-front-building img {
  width: 100%;
}

.scene__fog-on-left {
  position: absolute;
  bottom: -10%;
  left: 50%;
  width: 50%;
  -webkit-transform: translateX(-113%);
      -ms-transform: translateX(-113%);
          transform: translateX(-113%);
  z-index: 3;
  max-height: 70%;
}

.scene__fog-on-left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-height: 750px) and (min-width: 1300px) {
  .hero-parallax__title {
    top: 50%;
  }

  .scene__right-buildings {
    width: 27.065%;
    left: 75.8%;
  }

  .scene__evolution {
    width: 9%;
    bottom: -11%;
    left: 83.9%;
  }

  .scene__2000 {
    width: 6.5%;
    left: 65%;
  }

  .scene__fog-under-right {
    left: 90%;
  }

  .scene__oko {
    width: 7.92%;
    bottom: -4.9%;
    left: 14.45%;
  }

  .scene__iq-big {
    width: 29.261%;
    left: 23%;
    bottom: -8.7%;
  }

  .scene__eurasia {
    width: 11.634%;
    bottom: -4.7%;
    left: 27.8%;
  }

  .scene__iq-small {
    width: 15.75%;
    left: 20.9%;
  }

  .scene__center-back-building {
    width: 27.45%;
  }

  .scene__center-front-building {
    width: 21.71%;
  }
}

@media (max-height: 700px) and (min-width: 1300px) {
  .scene__center-back-building {
    width: 25.45%;
  }

  .scene__center-front-building {
    width: 19.71%;
    bottom: -7.4%;
  }
}

@media (max-width: 1440px) {
  .hero-parallax__title {
    font-size: 96px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .hero-parallax__title {
    top: 53.5%;
  }

  .scene__right-buildings {
    width: unset;
    height: 85%;
    left: 50%;
    -webkit-transform: translateX(43%);
        -ms-transform: translateX(43%);
            transform: translateX(43%);
  }

  .scene__evolution {
    right: 50%;
    left: auto;
    -webkit-transform: translateX(472.6%);
        -ms-transform: translateX(472.6%);
            transform: translateX(472.6%);
    width: unset;
    height: 49%;
    bottom: -8.8%;
  }

  .scene__2000 {
    width: unset;
    height: 34.11%;
    left: 50%;
    -webkit-transform: translateX(170%);
        -ms-transform: translateX(170%);
            transform: translateX(170%);
  }

  .scene__fog-under-left {
    bottom: -20%;
    max-height: 60%;
  }

  .scene__fog-between-left-center {
    left: 30%;
  }

  .scene__oko {
    height: 80%;
    left: auto;
    right: 50%;
    -webkit-transform: translateX(-381.7%);
        -ms-transform: translateX(-381.7%);
            transform: translateX(-381.7%);
    width: unset;
    bottom: -2%;
  }

  .scene__iq-big {
    height: 54.75%;
    width: unset;
    bottom: -4.8%;
    left: auto;
    right: 50%;
    -webkit-transform: translateX(-42%);
        -ms-transform: translateX(-42%);
            transform: translateX(-42%);
  }

  .scene__eurasia {
    width: unset;
    left: auto;
    right: 50%;
    height: 82.7%;
    -webkit-transform: translateX(-108%);
        -ms-transform: translateX(-108%);
            transform: translateX(-108%);
  }

  .scene__iq-small {
    width: unset;
    height: 32.3%;
    left: auto;
    bottom: -4%;
    right: 50%;
    -webkit-transform: translateX(-136.9%);
        -ms-transform: translateX(-136.9%);
            transform: translateX(-136.9%);
  }

  .scene__center-back-building {
    height: 91%;
    width: unset;
    bottom: -5%;
  }

  .scene__center-front-building {
    bottom: -4.9%;
    width: unset;
    height: 49.5%;
  }

  .scene__fog-on-left {
    max-height: 60%;
    width: 56%;
    -webkit-transform: translateX(-104%);
        -ms-transform: translateX(-104%);
            transform: translateX(-104%);
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .hero-parallax__title {
    top: 51.5%;
    font-size: 72px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .hero-parallax__title {
    font-size: 64px;
    top: 52.5%;
  }

  .scene__fog-on-left {
    max-height: unset;
    width: 96%;
    -webkit-transform: translateX(-69%);
        -ms-transform: translateX(-69%);
            transform: translateX(-69%);
    bottom: -30%;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: none;
    padding: 0 16px;
  }

  .hero-parallax__title {
    font-size: 56px;
    top: 56%;
  }

  .scene__bg {
    width: 130%;
    height: 130%;
  }

  .scene__right-buildings {
    height: 64%;
    -webkit-transform: translateX(37%);
        -ms-transform: translateX(37%);
            transform: translateX(37%);
  }

  .scene__2000 {
    height: 25%;
    -webkit-transform: translateX(180%);
        -ms-transform: translateX(180%);
            transform: translateX(180%);
  }

  .scene__iq-big {
    height: 44.75%;
    -webkit-transform: translateX(-21%);
        -ms-transform: translateX(-21%);
            transform: translateX(-21%);
  }

  .scene__eurasia {
    height: 68.7%;
    -webkit-transform: translateX(-61%);
        -ms-transform: translateX(-61%);
            transform: translateX(-61%);
  }

  .scene__iq-small {
    height: 24.3%;
    -webkit-transform: translateX(-104.9%);
        -ms-transform: translateX(-104.9%);
            transform: translateX(-104.9%);
  }

  .scene__center-back-building {
    height: 80%;
  }

  .scene__center-front-building {
    height: 43.5%;
    left: 53.3%;
  }

  .scene__fog-on-left {
    bottom: -10%;
    max-height: 40%;
  }
}

@media (max-width: 400px) {
  .hero-parallax__title {
    top: 54.5%;
    font-size: 48px;
  }
}

@media (max-height: 750px) and (mфч-width: 1300px) {
  .scene__evolution {
    left: 88%;
  }
}