.site-footer {
    padding: 24px 0 32px;
    background: $colorSecond;
    color: #fff;

    &__body {
        display: flex;

        @media (max-width: 1200px) {
            gap: 32px;
        }

        @media (max-width: 992px) {
            display: grid;
            grid-template-columns: 208px 1fr 248px;
            gap: 32px;
        }

        @media (max-width: 768px) {
            grid-template-columns: auto 1fr;
            gap: 24px;
        }
    }

    &__left {
        max-width: 312px;

        @media (min-width: 1200px) {
            margin-right: auto;
        }

        @media (max-width: 1200px) {
            max-width: 288px;
        }

        @media(max-width: 768px){
            max-width: 216px;
        }

        @media (max-width: 576px) {
            max-width: 188px;
        }
    }

    &__logo {
        margin-bottom: 16px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;

        @media (max-width: 1200px) {
            margin-left: unset;
        }

        @media (max-width: 992px) {
            max-width: 160px;
            margin-bottom: 16px;
        }

        @media (max-width: 768px) {
            max-width: 144px;
        }
    }

    &__copyright {
        font-size: 12px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        line-height: 150%;
        text-align: center;

        @media (min-width: 768px) {
            padding-top: 8px;
        }

        @media (max-width: 992px) {
            border-color: transparent;
            font-size: 10px;
            max-width: 382px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__menu {
        padding-top: 16px;

        @media (min-width: 1200px) {
            flex: 1 1 auto;
            max-width: 424px;
        }

        @media (max-width: 992px) {
            padding-top: 8px;
            max-width: 338px;
        }

        @media (max-width: 768px) {
            padding-top: unset;
            margin-left: auto;
        }
    }

    &__right {
        padding-top: 16px;
        width: 424px;

        @media (min-width: 1200px) {
            margin-left: 50px;
        }

        @media (max-width: 1200px) {
            width: 312px;
        }

        @media (max-width: 992px) {
            width: 100%;
            padding-top: 8px;
        }

        @media (max-width: 768px) {
            padding-top: 0;
            grid-column: 1/3;
            max-width: unset;
        }
    }

    &__search {
        margin-bottom: 24px;

        @media (max-width: 768px) {
            padding-bottom: 32px;
            margin-bottom: 7px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
    }

    &__disclaimer {
    }

    &__disclaimer {
        padding-top: 8px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
        line-height: 150%;

        & br {
            @media (max-width: 1200px) {
                display: none;
            }
        }

        @media (max-width: 992px) {
            font-size: 12px;
        }

        @media (max-width: 576px) {
            font-size: 10px;
        }
    }

    &__bottom {
        grid-column: 1/4;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
}
