<footer class="site-footer">
    <div class="container">
        <div class="site-footer__body">
            <div class="site-footer__left">
                <a href="/" class="site-footer__logo">
                    <img data-lozad src="@img/placeholder.png" data-src="@img/logo-white.svg" alt="БИМ logo" title="БИМ logo" />
                </a>
                <p class="site-footer__copyright">© Ассоциация организаций по развитию технологий информационного моделирования  в строительстве и ЖКХ (БИМ-Ассоциация)</p>
            </div>
            <nav class="site-footer__menu footer-menu">
                <div class="footer-menu__column">
                    <ul class="footer-menu__list">
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">Об ассоциации</a>
                            <ul class="footer-menu__sublist">
                                <li class="footer-menu__subitem">
                                    <a href="#" class="footer-menu__sublink">
                                        <span class="footer-menu__sublink-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="5" height="10" viewBox="0 0 5 10" fill="none">
                                                <path
                                                    fill-rule="evenodd"
                                                    clip-rule="evenodd"
                                                    d="M0.144003 9.8536C-0.0480011 9.6583 -0.0480011 9.3417 0.144003 9.1464L3.8729 5.3536C4.0648 5.1583 4.0648 4.8417 3.8729 4.6465L0.144003 0.8536C-0.0480011 0.658299 -0.0480011 0.341701 0.144003 0.1464C0.335909 -0.0487995 0.647166 -0.0487995 0.839171 0.1464L4.56806 3.9394C5.14398 4.5252 5.14398 5.4749 4.56806 6.0607L0.839171 9.8536C0.647166 10.0488 0.335909 10.0488 0.144003 9.8536Z"
                                                    fill="currentColor"
                                                />
                                            </svg>
                                        </span>
                                        Как стать участником
                                    </a>
                                </li>
                                <li class="footer-menu__subitem">
                                    <a href="#" class="footer-menu__sublink">
                                        <span class="footer-menu__sublink-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="5" height="10" viewBox="0 0 5 10" fill="none">
                                                <path
                                                    fill-rule="evenodd"
                                                    clip-rule="evenodd"
                                                    d="M0.144003 9.8536C-0.0480011 9.6583 -0.0480011 9.3417 0.144003 9.1464L3.8729 5.3536C4.0648 5.1583 4.0648 4.8417 3.8729 4.6465L0.144003 0.8536C-0.0480011 0.658299 -0.0480011 0.341701 0.144003 0.1464C0.335909 -0.0487995 0.647166 -0.0487995 0.839171 0.1464L4.56806 3.9394C5.14398 4.5252 5.14398 5.4749 4.56806 6.0607L0.839171 9.8536C0.647166 10.0488 0.335909 10.0488 0.144003 9.8536Z"
                                                    fill="currentColor"
                                                />
                                            </svg>
                                        </span>
                                        Документы
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">Что такое БИМ?</a>
                            <ul class="footer-menu__sublist">
                                <li class="footer-menu__subitem">
                                    <a href="#" class="footer-menu__sublink">
                                        <span class="footer-menu__sublink-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="5" height="10" viewBox="0 0 5 10" fill="none">
                                                <path
                                                    fill-rule="evenodd"
                                                    clip-rule="evenodd"
                                                    d="M0.144003 9.8536C-0.0480011 9.6583 -0.0480011 9.3417 0.144003 9.1464L3.8729 5.3536C4.0648 5.1583 4.0648 4.8417 3.8729 4.6465L0.144003 0.8536C-0.0480011 0.658299 -0.0480011 0.341701 0.144003 0.1464C0.335909 -0.0487995 0.647166 -0.0487995 0.839171 0.1464L4.56806 3.9394C5.14398 4.5252 5.14398 5.4749 4.56806 6.0607L0.839171 9.8536C0.647166 10.0488 0.335909 10.0488 0.144003 9.8536Z"
                                                    fill="currentColor"
                                                />
                                            </svg>
                                        </span>
                                        БИМ в документах</a
                                    >
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="footer-menu__column">
                    <ul class="footer-menu__list">
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">Пресс-центр</a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">Вакансии</a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">Стандартизация</a>
                        </li>
                        <li class="footer-menu__item">
                            <a href="#" class="footer-menu__link">Контакты</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="site-footer__right">
                <form action="#" class="site-footer__search search">
                    <input type="search" placeholder="Поиск по сайту" class="search__input" />
                    <button class="search__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path
                                d="M7.11111 12.4444C4.03899 12.4444 1.77778 10.1832 1.77778 7.11111C1.77778 4.03899 4.03899 1.77778 7.11111 1.77778C10.1832 1.77778 12.4444 4.03899 12.4444 7.11111C12.4444 10.1832 10.1832 12.4444 7.11111 12.4444ZM7.11111 14.2222C11.0565 14.2222 14.2222 11.0565 14.2222 7.11111C14.2222 3.16569 11.0565 0 7.11111 0C3.16569 0 0 3.16569 0 7.11111C0 11.0565 3.16569 14.2222 7.11111 14.2222ZM15.7349 14.4873L12.1793 10.9318C12.0234 10.7602 11.8051 10.6667 11.5556 10.6667C11.0721 10.6667 10.6667 11.0721 10.6667 11.5556C10.6667 11.8051 10.7602 12.0234 10.9318 12.1793L14.4873 15.7349C14.6433 15.9064 14.8616 16 15.1111 16C15.5945 16 16 15.5945 16 15.1111C16 14.8616 15.9064 14.6433 15.7349 14.4873Z"
                                fill="currentColor"
                            />
                        </svg>
                    </button>
                </form>
                <p class="site-footer__disclaimer">
                    Информация на данном сайте не является<br />
                    публичной офертой ни при каких обстоятельствах.
                </p>
            </div>
        </div>
    </div>
</footer>
