.footer-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    @media (max-width: 1200px) {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    @media(max-width: 992px){
        gap: 8px;
    }

    &__column {
    }

    &__list {
    }

    &__item {
        width: fit-content;

        &.is-active {
            & .footer-menu__link {
                border-bottom: 1px solid $colorMain;
            }
        }

        &:not(:last-child) {
            margin-bottom: 16px;

            @media (max-width: 992px) {
                margin-bottom: 8px;
            }
        }

        & a {
            color: #fff;
            transition: all 0.3s ease-in-out 0s;

            &:hover {
                color: $colorMain;
            }
        }
    }

    &__link {
        display: block;
        line-height: toProcent(16, 20);
        width: fit-content;

        @media (max-width: 992px) {
            font-size: 14px;
            line-height: toProcent(14, 17);
        }
    }

    &__sublist {
        padding-top: 8px;
    }

    &__subitem {
        width: fit-content;

        &.is-active {
            & .footer-menu__sublink {
                border-bottom: 1px solid $colorMain;
            }
        }

        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }

    &__sublink {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 14px;
        line-height: toProcent(14, 17);
        width: fit-content;

        @media (max-width: 992px) {
            font-size: 12px;
        }

        &-icon {
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $colorMain;
        }
    }
}
