.hero-parallax {
    padding: 32px 0;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &__scene {
    }

    &__content {
    }

    &__title {
        font-size: calc($index * 5.47);
        line-height: 120%;
        color: #fff;
        text-align: center;

        @media (max-width: 576px) {
            font-size: calc($index * 5);
        }
    }

    &__btn {
        margin: 0 auto;
        backdrop-filter: blur(8px);
        white-space: nowrap;

        @media (min-width: 1500px) {
            padding: calc($index * 0.6) calc($index * 1.07);
            font-size: calc((1vh + 1vw) * 0.535);
        }

        @media (max-width: 400px) {
            padding: 12px 24px;
        }

        &::before {
            border: 1px solid #fff;
            background: radial-gradient(1641.26% 269.08% at 100% -6.25%, #fff 0%, rgba(255, 255, 255, 0.8) 100%);
        }

        &:hover {
            box-shadow: 0px 2px 40px -2px $colorMain;
        }
    }
}

.scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateX(var(--move-x)) rotateY(var(--move-y)) translate3d(0, 0, 0);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform;
    transition: 1.5s cubic-bezier(0.05, 0.5, 0, 1);
    perspective: 1000px;

    &__layer {
        position: absolute;
        inset: -1.5vw;
        transform-style: preserve-3d;
        perspective: 1000px;
        backface-visibility: hidden;

        &:not(.scene__layer--btn) {
            pointer-events: none;
        }

        &--bg {
            inset: -2vw;
            transform: translateZ(-100px) scale(1.101);
        }

        &--fog-under-all {
            transform: translateZ(-50px) scale(1.0506);
        }

        &--right-buildings {
            transform: translateZ(150px) scale(0.85);
        }

        &--evolution {
            transform: translateZ(120px) scale(0.881);
        }

        &--2000 {
            transform: translateZ(210px) scale(0.79);
        }

        &--oko {
            transform: translateZ(130px) scale(0.87);
        }

        &--iq-big {
            transform: translateZ(150px) scale(0.85);
        }

        &--eurasia {
            transform: translateZ(120px) scale(0.879);
        }

        &--iq-small {
            transform: translateZ(190px) scale(0.81);
        }

        &--fog-center-left {
            transform: translateZ(320px) scale(0.57);
        }

        &--fog-center-right {
            transform: translateZ(300px) scale(0.7);
        }

        &--center-back-building {
            transform: translateZ(270px) scale(0.73);
        }

        &--center-front-building {
            transform: translateZ(330px) scale(0.7);
        }

        &--fog-on-left {
            transform: translateZ(450px) scale(0.55);
        }

        &--fog-on-center {
            transform: translateZ(350px) scale(0.65);
        }

        &--btn {
            transform: translateZ(370px) scale(0.629);
        }

        &--title {
            transform: translateZ(300px) scale(0.7);
        }
    }

    &__title {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -66%);

        @media (max-height: 750px) and (min-width: 1300px) {
            transform: translate(-50%, -53%);
        }

        @media (max-width: 1200px) {
            transform: translate(-50%, -72%);
        }

        @media (max-width: 992px) and (min-height: 1000px) {
            transform: translate(-50%, -82%);
        }

        @media (max-width: 576px) {
            transform: translate(-50%, -53%);
        }
    }

    &__bg {
        position: absolute;
        inset: 0;

        & img {
            width: 100%;
            height: 100%;
        }
    }

    &__fog-under-all {
        position: absolute;
        bottom: 0;
        left: -1%;
        width: 102%;
        height: 69%;

        & img {
            width: 100%;
            height: 100%;
        }
    }

    &__right-buildings {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 28.1%;
        aspect-ratio: 539/824;
        transform: translateX(46.3%);

        @media (max-height: 750px) and (min-width: 1300px) {
            width: 23.9%;
        }

        @media (max-width: 1200px) {
            width: unset;
            height: 80%;
            left: 50%;
            transform: translateX(32%);
        }

        @media (max-width: 576px) {
            height: 64%;

            transform: translateX(37%);
        }

        & img {
            width: 100%;
        }
    }

    &__evolution {
        position: absolute;
        bottom: 2%;
        left: 50%;
        width: 8.43%;
        aspect-ratio: 18/55;
        transform: translateX(382.3%);

        @media (max-height: 750px) and (min-width: 1300px) {
            width: 7.13%;
        }

        @media (max-width: 1200px) {
            right: 50%;
            left: auto;
            transform: translateX(423.6%);
            width: unset;
            height: 49%;
        }

        @media (max-width: 576px) {
            height: 41%;
            transform: translateX(427.6%);
        }

        & img {
            width: 100%;
        }
    }

    &__2000 {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 6.75%;
        aspect-ratio: 121/314;
        transform: translateX(176%);

        @media (max-height: 750px) and (min-width: 1300px) {
            width: 5.75%;
        }

        @media (max-width: 1200px) {
            width: unset;
            height: 32.91%;
            left: 50%;
            transform: translateX(130%);
        }

        @media (max-width: 576px) {
            height: 25%;
            transform: translateX(163%);
        }

        & img {
            width: 100%;
        }
    }

    &__oko {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 9%;
        aspect-ratio: 43/205;
        transform: translateX(-454%);

        @media (max-height: 750px) and (min-width: 1300px) {
            width: 7.7%;
        }

        @media (max-width: 1200px) {
            height: 78%;
            left: auto;
            right: 50%;
            transform: translateX(-310.7%);
            width: unset;
        }

        @media (max-width: 576px) {
            height: 67%;
            transform: translateX(-292.7%);
        }

        & img {
            width: 100%;
        }
    }

    &__iq-big {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 30.8%;
        aspect-ratio: 581/536;
        transform: translateX(-137%);

        @media (max-height: 750px) and (min-width: 1300px) {
            width: 26.3%;
        }

        @media (max-width: 1200px) {
            height: 51.75%;
            width: unset;
            left: auto;
            right: 50%;
            transform: translateX(-27%);
        }

        @media (max-width: 576px) {
            height: 44.75%;
            transform: translateX(-21%);
        }

        & img {
            width: 100%;
        }
    }

    &__eurasia {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 13.35%;
        aspect-ratio: 16/47;
        transform: translateX(-210%);

        @media (max-height: 750px) and (min-width: 1300px) {
            width: 11.35%;
        }

        @media (max-width: 1200px) {
            width: unset;
            left: auto;
            right: 50%;
            height: 71.7%;
            transform: translateX(-98%);
        }

        @media (max-width: 576px) {
            height: 61.7%;
            transform: translateX(-83%);
        }

        & img {
            width: 100%;
        }
    }

    &__iq-small {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 15.7%;
        aspect-ratio: 286/293;
        transform: translateX(-237.2%);

        @media (max-height: 750px) and (min-width: 1300px) {
            width: 13.3%;
        }

        @media (max-width: 1200px) {
            width: unset;
            height: 29.1%;
            left: auto;
            right: 50%;
            transform: translateX(-118.9%);
        }

        @media (max-width: 576px) {
            height: 25.3%;
            transform: translateX(-104.9%);
        }

        & img {
            width: 100%;
        }
    }

    &__fog-center-left {
        position: absolute;
        bottom: -8.2vw;
        left: 50%;
        width: 48.6%;
        transform: translateX(-78%);
        aspect-ratio: 621/264;

        @media (max-width: 1200px) {
            bottom: -11.2vh;
            width: unset;
            transform: translatex(-87%);
            height: 39.1%;
        }

        & img {
            width: 100%;
            height: 100%;
        }
    }

    &__fog-center-right {
        position: absolute;
        bottom: -0.5vw;
        left: 50%;
        width: 52.3%;
        transform: translateX(-42%);
        aspect-ratio: 811/207;

        @media (max-width: 1200px) {
            width: unset;
            transform: translatex(-32%);
            height: 21%;
        }

        & img {
            width: 100%;
            height: 100%;
        }
    }

    &__center-back-building {
        position: absolute;
        bottom: -0.5%;
        left: 50%;
        width: 28.45%;
        aspect-ratio: 546/950;
        transform: translateX(-47.4%);
        z-index: 2;

        @media (max-height: 750px) and (min-width: 1300px) {
            width: 23.35%;
        }

        @media (max-width: 1200px) {
            height: 91%;
            width: unset;
            transform: translateX(-49%);
        }

        @media (max-width: 576px) {
            height: 80%;
            transform: translateX(-49%);
        }

        & img {
            width: 100%;
            height: 100%;
        }
    }

    &__center-front-building {
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 2;
        width: 23.5%;
        aspect-ratio: 436/517;
        transform: translateX(-49.8%);

        @media (max-height: 750px) and (min-width: 1300px) {
            width: 19.3%;
        }

        @media (max-width: 1200px) {
            width: unset;
            height: 49.5%;
        }

        @media (max-width: 576px) {
            height: 44.5%;
        }

        & img {
            width: 100%;
        }
    }

    &__fog-on-left {
        position: absolute;
        bottom: -2.2vw;
        left: -2.3%;
        width: 51.62%;
        aspect-ratio: 799/997;

        @media (max-height: 750px) and (min-width: 1300px) {
            width: 41.62%;
            left: -1.5%;
            bottom: -2.4vw;
        }

        @media (max-width: 1200px) {
            transform: unset;
            width: unset;
            height: 70%;
            left: -14%;
        }

        & img {
            width: 100%;
            height: 100%;
        }
    }

    &__fog-on-center {
        position: absolute;
        bottom: -1.1vw;
        left: 50%;
        width: 57.55%;
        transform: translateX(-52%);
        aspect-ratio: 910/460;

        @media (max-width: 1200px) {
            left: 50%;
            width: unset;
            height: 52.6%;
        }

        & img {
            width: 100%;
            height: 100%;
        }
    }

    &__btn {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: 576px) {
            top: 67%;
        }
    }
}
