.hero-parallax {
    padding: 32px 0;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__body {
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media (max-height: 750px) {
            margin-top: 30px;
        }
    }

    &__container {
        @media (min-width: 1200px) {
            max-width: unset;
        }
    }

    &__title {
        font-size: 164px;
        line-height: 120%;
        color: #fff;
        position: relative;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.7s cubic-bezier(0.2, 0.49, 0.32, 0.99) 0s;

        @media (max-width: 1440px) {
            font-size: 96px;
        }
    }

    &__scene {
    }
}

.parallax-scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__item {
        pointer-events: none;
        transition: all 0.7s cubic-bezier(0.2, 0.49, 0.32, 0.99) 0s;
        will-change: transform;
    }

    &__bg {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 120%;
        height: 120%;
        transform: translate(-50%, -50%);

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__right-buildings {
        position: absolute;
        bottom: -10%;
        left: 77.8%;
        transform: translateX(-50%);
        width: 30.065%;

        @media (max-height: 750px) {
            width: 27.065%;
        }

        & img {
            width: 100%;
        }
    }

    &__evolution {
        position: absolute;
        bottom: -17%;
        left: 87.7%;
        transform: translateX(-50%);
        width: 12%;

        @media (max-height: 750px) {
            width: 9%;
            bottom: -13%;
            left: 86.5%;
        }

        & img {
            width: 100%;
        }
    }

    &__2000 {
        position: absolute;
        bottom: -10%;
        left: 66.4%;
        transform: translateX(-50%);
        width: 9.5%;

        @media (max-height: 750px) {
            width: 6.5%;
        }

        & img {
            width: 100%;
        }
    }

    &__fog-on-right {
        position: absolute;
        bottom: -10%;
        left: 90%;
        width: 43.5%;
        transform: translateX(-50%);
    }

    &__fog-under-left {
        position: absolute;
        bottom: -10%;
        left: 5%;
        transform: translateX(-50%);
    }

    &__fog-between-left-center {
        position: absolute;
        bottom: -10%;
        left: 43.5%;
        transform: translateX(-50%);
    }

    &__oko {
        position: absolute;
        bottom: -19%;
        left: 15.3%;
        transform: translate(-50%);
        width: 10.92%;

        @media (max-height: 750px) {
            width: 7.92%;
            left: 15.4%;
            bottom: -8%;
        }

        & img {
            width: 100%;
        }
    }

    &__iq-big {
        position: absolute;
        bottom: -11%;
        left: 24.5%;
        transform: translateX(-50%);
        width: 32.261%;

        @media (max-height: 750px) {
            width: 29.261%;
        }

        & img {
            width: 100%;
        }
    }

    &__eurasia {
        position: absolute;
        bottom: -17.2%;
        left: 29%;
        transform: translateX(-50%);
        width: 15.334%;

        @media (max-height: 750px) {
            width: 12.334%;
            bottom: -10%;
        }

        & img {
            width: 100%;
        }
    }

    &__iq-small {
        position: absolute;
        bottom: -8%;
        left: 22%;
        transform: translateX(-50%);
        width: 18.2%;

        @media (max-height: 750px) {
            width: 15.5%;
            left: 22.2%;
        }

        & img {
            width: 100%;
        }
    }

    &__fog-on-left {
        position: absolute;
        bottom: -10%;
        left: 93.4%;
        transform: translateX(-50%);
    }

    &__center-back-building {
        position: absolute;
        bottom: -10%;
        left: 50.3%;
        transform: translateX(-49%);
        width: 30.45%;

        @media (max-height: 750px) {
            width: 27.45%;
        }

        @media (max-height: 700px) {
            width: 25.45%;
        }

        & img {
            width: 100%;
        }
    }

    &__center-front-building {
        position: absolute;
        bottom: -10%;
        left: 51.1%;
        transform: translateX(-50%);
        z-index: 2;
        width: 24.7%;

        @media (max-height: 750px) {
            width: 21.71%;
        }

        @media (max-height: 700px) {
            width: 19.71%;
            bottom: -8.4%;
        }

        & img {
            width: 100%;
        }
    }

    &__fog-on-right-second {
        position: absolute;
        bottom: -10%;
        left: 77%;
        width: 66%;
        transform: translateX(-50%);
        z-index: 3;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
