@use "sass:math";

//*<Modules>=======================================================================================================

@import "base/fonts.scss";
@import "base/function";
@import "base/animation";
@import "base/variables";
@import "base/nullstyle";
@import "base/common";

//*</Modules>=====================================================================================================

//*<Header and footer>=================================================================================================

@import "components/header";
@import "components/footer";

//*</Header and footer>=================================================================================================

//*<Components>================================================================================================

//?==============<Big>============== 

@import "components/big/latest-new";
@import "components/big/hot-new";
@import "components/big/search";
@import "components/big/footer-menu";
@import "components/big/menu";
@import "components/big/form";
@import "components/big/hero";

//?==============</Big>=============

//?==============<Small>==============

@import "components/small/arrow";
@import "components/small/button";
@import "components/small/languages";
@import "components/small/burger";
@import "components/small/input";
@import "components/small/textarea";

//?==============</Small>=============

//*</Components>=================================================================================================

//*<Main grid>==================================================================================================

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container {
    max-width: $maxWidthContainer;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 1200px) {
        max-width: 960px;
    }
    @media (max-width: 992px) {
        max-width: 720px;
    }
    @media (max-width: 768px) {
        max-width: 540px;
    }
    @media (max-width: 576px) {
        max-width: none;
        padding: 0 16px;
    }
}

.site-page{
    padding-bottom: 136px;
    flex: 1 1 auto;

    @media(max-width: 1200px){
        padding-bottom: 104px;
    }

    @media(max-width: 992px){
        padding-bottom: 96px;
    }
}


//*</Main grid>=================================================================================================

//TODO<Blocks>=================================================================================================

//? Main page

@import "blocks/main-page/hero-parallax";
@import "blocks/main-page/latest-news";
@import "blocks/main-page/hot-news";

//? Contacts

@import "blocks/contacts/contacts";
@import "blocks/contacts/have-questions";

//? Documents

@import "blocks/documents/documents";

//? Page

@import "blocks/page/first-block";
@import "blocks/page/second-block";
@import "blocks/page/third-block";
@import "blocks/page/fourth-block";
@import "blocks/page/fifth-block";
@import "blocks/page/sixth-block";

//TODO</Blocks>=================================================================================================
